<!DOCTYPE html>
<html data-ng-app="babybooApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign in to Babyboo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="../../../mockathon/static/lib/jquery/jquery-1.10.2.js"></script>

    <script src="../../../mockathon/static/lib/bootstrap/bootstrap.js"></script>
    <script src="../../../mockathon/static/lib/angular/angular.js"></script>
    <script src="../../../mockathon/static/lib/angular/ui-bootstrap-tpls-0.6.0.js.js"></script>
    <script src="../../static/accounts/js/LogonController.js"></script>

    <link href="../../../mockathon/static/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../mockathon/static/css/bootstrap-responsive.css" rel="stylesheet" /> -->
    
     
     {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    
    <script src="{% static 'lib/jquery/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'lib/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'lib/angular/angular.js' %}"></script>
    <script src="{% static 'lib/angular/ui-bootstrap-tpls-0.6.0.js.js' %}"></script>

    <script src="{% static 'lib/js/app.js' %}"></script>
    <script src="{% static 'lib/js/directives.js' %}"></script>
    <script src="{% static 'lib/js/services.js' %}"></script>
    <script src="{% static 'accounts/js/LogonController.js' %}"></script>
</head>

<body>
    <div class="container" data-ng-controller="SignInController" ng-init="loginError = true">
        <div class="row">
            <div class="span4 offset4">
                <div class="well" style="margin-top: 20px">
                    <h3>Sign in to Babyboo</h3>
                    <form name="signInForm">
                        <div class="alert alert-error" ng-hide="loginError">
                            <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
                        </div>
                        <input class="span3" placeholder="User name" type="text" name="username" autocomplete="off" required="required" data-ng-model="user.userName" />
                        <input class="span3" placeholder="Password" type="password" name="password" autocomplete="off" required="required" data-ng-model="user.password" />
                        <button type="submit" class="btn btn-primary" data-ng-model="loading" data-ng-click="login()" data-ng-disabled="signInForm.$invalid">
                            Login</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="message.html">
        <div class="modal-header">
            <h4>An error has occurred.</h4>
        </div>
        <div class="modal-body">
            {[{ messageBody }]}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</body>
</html>
